.row.footer
    .col-md-12
        footer
            p
                | #{new Date().getFullYear()} © All Rights Reserved#{settings.RecordNo ? ' | ' + settings.RecordNo : ''}
                span.hidden-xs
                    =' | '
                    a(href='/admin', target='_blank')=__("footer.admin_system")
            p
                img(src='https://ws4.sinaimg.cn/large/006tNbRwgy1fw0xdbrk02j300k00kq36.jpg')
                span 京公网安备 11010102002019号
