doctype html
| html(lang='zh-hans')
|   head
|     meta(charset='UTF-8')
|     meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
|     title 介绍 · Web前端规范
|     meta(http-equiv='X-UA-Compatible', content='IE=edge')
|     meta(name='description', content='')
|     meta(name='generator', content='GitBook 3.2.3')
|     meta(name='author', content='stanyan')
|     link(rel='stylesheet', href='frontendstandards/gitbook/style.css')
|     link(rel='stylesheet', href='frontendstandards/gitbook/gitbook-plugin-splitter/splitter.css')
|     link(rel='stylesheet', href='frontendstandards/gitbook/gitbook-plugin-anchor-navigation-ex/style/plugin.css')
|     link(rel='stylesheet', href='frontendstandards/gitbook/gitbook-plugin-search-plus/search.css')
|     link(rel='stylesheet', href='frontendstandards/gitbook/gitbook-plugin-advanced-emoji/emoji-website.css')
|     link(rel='stylesheet', href='frontendstandards/gitbook/gitbook-plugin-anchors/plugin.css')
|     link(rel='stylesheet', href='frontendstandards/gitbook/gitbook-plugin-tbfed-pagefooter/footer.css')
|     link(rel='stylesheet', href='gitbook/gitbook-plugin-expandable-chapters-small/expandable-chapters-small.css')
|     link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
|     link(rel='stylesheet', href='frontendstandards/gitbook/gitbook-plugin-sectionx/sectionx.css')
|     link(rel='stylesheet', href='frontendstandards/gitbook/gitbook-plugin-local-video/video-js.min.css')
|     link(rel='stylesheet', href='frontendstandards/gitbook/gitbook-plugin-prism/prism-solarizedlight.css')
|     link(rel='stylesheet', href='frontendstandards/gitbook/gitbook-plugin-highlight/website.css')
|     link(rel='stylesheet', href='frontendstandards/gitbook/gitbook-plugin-fontsettings/website.css')
|     meta(name='HandheldFriendly', content='true')
|     meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
|     meta(name='apple-mobile-web-app-capable', content='yes')
|     meta(name='apple-mobile-web-app-status-bar-style', content='black')
|     link(rel='apple-touch-icon-precomposed', sizes='152x152', href='gitbook/images/apple-touch-icon-precomposed-152.png')
|     link(rel='shortcut icon', href='gitbook/images/favicon.ico', type='image/x-icon')
|     link(rel='next', href='html/html.html')
|     link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
|     link(rel='bookmark', href='favicon.ico', type='image/x-icon')
|   body
|     .book
|       .book-summary
|         #book-search-input(role='search')
|           input(type='text', placeholder='输入并搜索')
|         nav(role='navigation')
|           ul.summary
|             li
|               a.custom-link(href='https://stavtop.club', target='_blank') Home
|             li.divider
|             li.chapter.active(data-level='1.1', data-path='./')
|               a(href='./')
|                 b 1.1.
|                 |                         介绍
|             li.chapter(data-level='1.2', data-path='html/html.html')
|               a(href='html/html.html')
|                 b 1.2.
|                 |                         HTML 规范
|               ul.articles
|                 li.chapter(data-level='1.2.1', data-path='html/code.html')
|                   a(href='html/code.html')
|                     b 1.2.1.
|                     |                                 代码规范
|                 li.chapter(data-level='1.2.2', data-path='html/note.html')
|                   a(href='html/note.html')
|                     b 1.2.2.
|                     |                                 注释规范
|                 li.chapter(data-level='1.2.3', data-path='html/template.html')
|                   a(href='html/template.html')
|                     b 1.2.3.
|                     |                                 文件模版
|                 li.chapter(data-level='1.2.4', data-path='html/webapp.html')
|                   a(href='html/webapp.html')
|                     b 1.2.4.
|                     |                                 WebApp Meta
|             li.chapter(data-level='1.3', data-path='image/image.html')
|               a(href='image/image.html')
|                 b 1.3.
|                 |                         图片规范
|               ul.articles
|                 li.chapter(data-level='1.3.1', data-path='image/format.html')
|                   a(href='image/format.html')
|                     b 1.3.1.
|                     |                                 图片格式
|                 li.chapter(data-level='1.3.2', data-path='image/size.html')
|                   a(href='image/size.html')
|                     b 1.3.2.
|                     |                                 图片大小
|                 li.chapter(data-level='1.3.3', data-path='image/quality.html')
|                   a(href='image/quality.html')
|                     b 1.3.3.
|                     |                                 图片质量
|                 li.chapter(data-level='1.3.4', data-path='image/import.html')
|                   a(href='image/import.html')
|                     b 1.3.4.
|                     |                                 图片引入
|             li.chapter(data-level='1.4', data-path='css/css.html')
|               a(href='css/css.html')
|                 b 1.4.
|                 |                         CSS 规范
|               ul.articles
|                 li.chapter(data-level='1.4.1', data-path='css/code.html')
|                   a(href='css/code.html')
|                     b 1.4.1.
|                     |                                 代码规范
|                 li.chapter(data-level='1.4.2', data-path='css/note.html')
|                   a(href='css/note.html')
|                     b 1.4.2.
|                     |                                 注释规范
|                 li.chapter(data-level='1.4.3', data-path='css/sass.html')
|                   a(href='css/sass.html')
|                     b 1.4.3.
|                     |                                 SASS 规范
|                 li.chapter(data-level='1.4.4', data-path='css/reset.html')
|                   a(href='css/reset.html')
|                     b 1.4.4.
|                     |                                 重置样式
|                 li.chapter(data-level='1.4.5', data-path='css/query.html')
|                   a(href='css/query.html')
|                     b 1.4.5.
|                     |                                 媒体查询
|                 li.chapter(data-level='1.4.6', data-path='css/webkit.html')
|                   a(href='css/webkit.html')
|                     b 1.4.6.
|                     |                                 移动端常用私有属性
|             li.chapter(data-level='1.5', data-path='name/name.html')
|               a(href='name/name.html')
|                 b 1.5.
|                 |                         命名规范
|               ul.articles
|                 li.chapter(data-level='1.5.1', data-path='name/dir.html')
|                   a(href='name/dir.html')
|                     b 1.5.1.
|                     |                                 目录命名
|                 li.chapter(data-level='1.5.2', data-path='name/image.html')
|                   a(href='name/image.html')
|                     b 1.5.2.
|                     |                                 图片命名
|                 li.chapter(data-level='1.5.3', data-path='name/htmlcss.html')
|                   a(href='name/htmlcss.html')
|                     b 1.5.3.
|                     |                                 HTML/CSS 命名
|                 li.chapter(data-level='1.5.4', data-path='name/classname.html')
|                   a(href='name/classname.html')
|                     b 1.5.4.
|                     |                                 ClassName 命名
|             li.chapter(data-level='1.6', data-path='js/js.html')
|               a(href='js/js.html')
|                 b 1.6.
|                 |                         JS 规范
|               ul.articles
|                 li.chapter(data-level='1.6.1', data-path='js/language.html')
|                   a(href='js/language.html')
|                     b 1.6.1.
|                     |                                 语言规范
|                 li.chapter(data-level='1.6.2', data-path='js/code.html')
|                   a(href='js/code.html')
|                     b 1.6.2.
|                     |                                 代码规范
|             li.divider
|             li
|               a.gitbook-link(href='https://www.gitbook.com', target='blank')
|                 | 本书使用 GitBook 发布
|       .book-body
|         .body-inner
|           .book-header(role='navigation')
|             // Title
|             h1
|               i.fa.fa-circle-o-notch.fa-spin
|               a(href='.') 介绍
|           .page-wrapper(tabindex='-1', role='main')
|             .page-inner
|               #book-search-results.search-plus
|                 .search-noresults
|                   section.normal.markdown-section
|                     #anchor-navigation-ex-navbar
|                       i.fa.fa-anchor
|                       ul
|                         li
|                           a(href='#web前端规范') Web前端规范
|                         ul
|                           li
|                             a(href='#规范目的') 规范目的
|                           li
|                             a(href='#规范基本准则') 规范基本准则
|                     a#anchorNavigationExGoTop(href='#web前端规范')
|                       i.fa.fa-arrow-up
|                     h1(id='web前端规范')
|                       a.plugin-anchor(name='web前端规范', href='#web前端规范')
|                         i.fa.fa-link(aria-hidden='true')
|                       a.anchor-navigation-ex-anchor(name='web前端规范', href='#web前端规范')
|                         i.fa.fa-link(aria-hidden='true')
|                       | Web前端规范
|                     h2(id='规范目的')
|                       a.plugin-anchor(name='规范目的', href='#规范目的')
|                         i.fa.fa-link(aria-hidden='true')
|                       a.anchor-navigation-ex-anchor(name='规范目的', href='#规范目的')
|                         i.fa.fa-link(aria-hidden='true')
|                       | 规范目的
|                     p 为了提高工作效率，便于后台人员添加功能及前端后期优化维护，输出高质量的文档，在网站建设中，使结构更加清晰，代码简明有序，有一个更好的前端架构。
|                     h2(id='规范基本准则')
|                       a.plugin-anchor(name='规范基本准则', href='#规范基本准则')
|                         i.fa.fa-link(aria-hidden='true')
|                       a.anchor-navigation-ex-anchor(name='规范基本准则', href='#规范基本准则')
|                         i.fa.fa-link(aria-hidden='true')
|                       | 规范基本准则
|                     p 符合web标准，使用具有语义的标签，使结构、表现、行为分离，兼容性优良。页面性能优化，代码简洁、明了、有序，尽可能的减少服务器的负载，保证最快的解析速度。
|                     footer.page-footer
|                       span.copyright Copyright © 雨果微校 2018 all right reserved，powered by Gitbook
|                       span.footer-modification
|                         | 该文件修订时间：
|                         | 2018-11-09 15:22:55
|                 .search-results
|                   .has-results
|                     h1.search-results-title
|                       span.search-results-count
|                       |  results
|                       |                                     matching "
|                       span.search-query
|                       | "
|                     ul.search-results-list
|                   .no-results
|                     h1.search-results-title
|                       | No results matching "
|                       span.search-query
|                       | "
|         a.navigation.navigation-next.navigation-unique(href='html/html.html', aria-label='Next page: HTML 规范')
|           i.fa.fa-angle-right
|       script.
|         var gitbook = gitbook || [];
|         gitbook.push(function () {
|         gitbook.page.hasChanged({
|         "page": {
|         "title": "介绍",
|         "level": "1.1",
|         "depth": 1,
|         "next": {
|         "title": "HTML 规范",
|         "level": "1.2",
|         "depth": 1,
|         "path": "html/html.md",
|         "ref": "html/html.md",
|         "articles": [{
|         "title": "代码规范",
|         "level": "1.2.1",
|         "depth": 2,
|         "path": "html/code.md",
|         "ref": "html/code.md",
|         "articles": []
|         }, {
|         "title": "注释规范",
|         "level": "1.2.2",
|         "depth": 2,
|         "path": "html/note.md",
|         "ref": "html/note.md",
|         "articles": []
|         }, {
|         "title": "文件模版",
|         "level": "1.2.3",
|         "depth": 2,
|         "path": "html/template.md",
|         "ref": "html/template.md",
|         "articles": []
|         }, {
|         "title": "WebApp Meta",
|         "level": "1.2.4",
|         "depth": 2,
|         "path": "html/webapp.md",
|         "ref": "html/webapp.md",
|         "articles": []
|         }]
|         },
|         "dir": "ltr"
|         },
|         "config": {
|         "plugins": ["-lunr", "-search", "-livereload", "splitter", "anchor-navigation-ex@0.1.8", "-sharing", "sharing-plus", "-donate", "search-plus", "github", "advanced-emoji", "anchors", "splitter", "tbfed-pagefooter", "expandable-chapters-small", "sectionx", "local-video", "favicon", "prism", "simple-page-toc", "anchors", "copy-code-button", "todo"],
|         "styles": {
|         "website": "styles/website.css",
|         "pdf": "styles/pdf.css",
|         "epub": "styles/epub.css",
|         "mobi": "styles/mobi.css",
|         "ebook": "styles/ebook.css",
|         "print": "styles/print.css"
|         },
|         "pluginsConfig": {
|         "tbfed-pagefooter": {
|         "copyright": "Copyright © 雨果微校 2018",
|         "modify_label": "该文件修订时间：",
|         "modify_format": "YYYY-MM-DD HH:mm:ss"
|         },
|         "prism": {
|         "lang": {"flow": "typescript"},
|         "css": ["prismjs/themes/prism-solarizedlight.css"],
|         "ignore": ["mermaid", "eval-js"]
|         },
|         "github": {"url": "https://github.com/stavyan/stav-gitbook"},
|         "simple-page-toc": {"maxDepth": 3, "skipFirstH1": true},
|         "todo": {},
|         "splitter": {},
|         "sharing-plus": {
|         "qq": false,
|         "all": ["facebook", "google", "twitter", "instapaper", "linkedin", "pocket", "stumbleupon"],
|         "douban": false,
|         "facebook": true,
|         "weibo": false,
|         "instapaper": false,
|         "whatsapp": false,
|         "hatenaBookmark": false,
|         "twitter": true,
|         "messenger": false,
|         "line": false,
|         "vk": false,
|         "pocket": true,
|         "google": false,
|         "viber": false,
|         "stumbleupon": false,
|         "qzone": false,
|         "linkedin": false
|         },
|         "fontsettings": {"theme": "white", "family": "sans", "size": 2},
|         "sectionx": {"tag": "b"},
|         "highlight": {},
|         "anchor-navigation-ex": {
|         "isRewritePageTitle": false,
|         "tocLevel1Icon": "fa fa-hand-o-right",
|         "tocLevel2Icon": "fa fa-hand-o-right",
|         "tocLevel3Icon": "fa fa-hand-o-right"
|         },
|         "favicon": {"shortcut": "favicon.ico", "bookmark": "favicon.ico"},
|         "expandable-chapters-small": {},
|         "local-video": {},
|         "copy-code-button": {},
|         "advanced-emoji": {"embedEmojis": false},
|         "sharing": {
|         "weibo": true,
|         "facebook": false,
|         "twitter": false,
|         "google": false,
|         "qq": true,
|         "all": ["facebook", "google", "twitter", "weibo", "qq"]
|         },
|         "theme-default": {
|         "styles": {
|         "website": "styles/website.css",
|         "pdf": "styles/pdf.css",
|         "epub": "styles/epub.css",
|         "mobi": "styles/mobi.css",
|         "ebook": "styles/ebook.css",
|         "print": "styles/print.css"
|         }, "showLevel": true
|         },
|         "anchors": {},
|         "search-plus": {}
|         },
|         "theme": "default",
|         "author": "stanyan",
|         "pdf": {
|         "pageNumbers": true,
|         "fontSize": 12,
|         "fontFamily": "Arial",
|         "paperSize": "a4",
|         "chapterMark": "pagebreak",
|         "pageBreaksBefore": "/",
|         "margin": {"right": 62, "left": 62, "top": 56, "bottom": 56}
|         },
|         "structure": {
|         "langs": "LANGS.md",
|         "readme": "README.md",
|         "glossary": "GLOSSARY.md",
|         "summary": "SUMMARY.md"
|         },
|         "variables": {},
|         "title": "Web前端规范",
|         "language": "zh-hans",
|         "links": {"sidebar": {"Home": "https://stavtop.club"}},
|         "gitbook": "3.2.3",
|         "description": "Web前端开发规范"
|         },
|         "file": {"path": "README.md", "mtime": "2018-11-09T07:22:55.000Z", "type": "markdown"},
|         "gitbook": {"version": "3.2.3", "time": "2018-11-12T02:25:16.187Z"},
|         "basePath": ".",
|         "book": {"language": ""}
|         });
|         });
|     script(src='gitbook/gitbook.js')
|     script(src='gitbook/theme.js')
|     script(src='gitbook/gitbook-plugin-splitter/splitter.js')
|     script(src='gitbook/gitbook-plugin-sharing-plus/buttons.js')
|     script(src='gitbook/gitbook-plugin-search-plus/jquery.mark.min.js')
|     script(src='gitbook/gitbook-plugin-search-plus/search.js')
|     script(src='gitbook/gitbook-plugin-github/plugin.js')
|     script(src='gitbook/gitbook-plugin-expandable-chapters-small/expandable-chapters-small.js')
|     script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
|     script(src='gitbook/gitbook-plugin-sectionx/sectionx.js')
|     script(src='gitbook/gitbook-plugin-local-video/video.min.js')
|     script(src='gitbook/gitbook-plugin-copy-code-button/toggle.js')
|     script(src='gitbook/gitbook-plugin-fontsettings/fontsettings.js')
|
